.about-company {
  display: flex;
}
.about-company__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.about-company__icon {
  width: 70px;
  height: 70px;
}
.about-company__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: $bcg-color;
  border-radius: 4px;
}
.about-company__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $first-color;
}
.about-company__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-color;
}
