.hero {
  text-align: center;
  background-color: $hero-color;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imghero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $buttom-text-color;
}
