@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid $border-color;
  }
  .container__header {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
  }
  .site-nav__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .site-nav__link,
  .site-nav__link-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    list-style-type: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $first-color;
    transition: color $animation-duration $animation-timing-function;

    &:hover,
    &:focus {
      color: $title-first-color;
    }
  }

  .site-nav__link-current {
    position: relative;
    color: $title-first-color;

    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      background-color: $title-first-color;
      border-radius: 2px;
    }
  }
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;

    &:last-child {
      margin-left: 50px;
    }
  }
  .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $second-color;
    transition: color $animation-duration $animation-timing-function;

    &:hover,
    &:focus {
      color: $title-first-color;
    }
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill $animation-duration $animation-timing-function;

    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid $border-color;
  }
  .container__header {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
  }
  .site-nav__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .site-nav__link,
  .site-nav__link-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    list-style-type: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $first-color;
    transition: color $animation-duration $animation-timing-function;

    &:hover,
    &:focus {
      color: $title-first-color;
    }
  }

  .site-nav__link-current {
    position: relative;
    color: $title-first-color;

    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      background-color: $title-first-color;
      border-radius: 2px;
    }
  }
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;

    &:last-child {
      margin-left: 50px;
    }
  }
  .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $second-color;
    transition: color $animation-duration $animation-timing-function;

    &:hover,
    &:focus {
      color: $title-first-color;
    }
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill $animation-duration $animation-timing-function;

    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
}
